In [3]:
import numpy as np
import pandas as pd

In [4]:
numpy = np.array([11,22,33,44,55])

In [5]:
series1 = pd.Series(numpy)
series1

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [6]:
series2 = pd.Series(11,index = [0,1,2,3,4])
series2

0    11
1    11
2    11
3    11
4    11
dtype: int64